
/* YourComponentStyles.css */
.back-img {
    background-image: url('../public/img/plain.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
    color: #fff; 
    min-height: 100vh;/* Text color for the header, description, and link */
    min-width: 100vh;
    position: fixed;
  }
  
  .header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .landing-link {
    display: inline-block;
    background-color: #FF5733;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.2s ease;
  }
  
  .landing-link:hover {
    background-color: #E6401F;
  }
  





